{% extends 'layouts/base.html.twig' %}

{% block title %}APER - Nouveau Article{% endblock %}

{% block body %}
    <header>
        {{ include('layouts/partials/_navbar.html.twig') }}
    </header>

    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <h1 class="title_h1 text-2xl font-semibold uppercase">Créer un nouvel article</h1>

            {{ include('article/_form.html.twig') }}

            <a href="{{ path('article_index') }}">retour à la liste</a>
        </div>
    </div>
{% endblock %}